APP_ENVIRONMENT=production
NEXT_PUBLIC_SITE_URL=https://www.yaoshuntoys.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
NEXT_PUBLIC_GOOGLE_ADS_ID=
NEXT_PUBLIC_GOOGLE_ADS_LEAD_CONVERSION_SEND_TO=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
TAWK_TICKET_EMAIL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
