APP_ENVIRONMENT=production
NEXT_PUBLIC_SITE_URL=https://www.yaoshuntoys.com
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
NEXT_PUBLIC_GOOGLE_ADS_ID=
NEXT_PUBLIC_GOOGLE_ADS_LEAD_CONVERSION_SEND_TO=
TAWK_TICKET_EMAIL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_TO_EMAIL=yaoshuntoys@gmail.com
BLOB_READ_WRITE_TOKEN=
VERCEL_OIDC_TOKEN=
